# Setting to empty string will prevent the image version of Go from being used.
# This will allow the go.mod to specify which version of Go to use. This is used
# since the image at the moment is using 1.25.8 and the go.mod is using 1.25.9.
GOROOT=

# Setting to auto will allow a different version of Go to be used. This is used
# since the image at the moment is using 1.25.8 and the go.mod is using 1.25.9.
GOTOOLCHAIN=auto
